<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>

    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=login" />
</head>
<body class="bg-gray-100">
    <div class="login-container">
        <div class="login-form-card">
            {% if error %}
                <p class="error-message">{{ error }}</p>
            {% endif %}
            <form method="POST">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">
                    <span>Login</span>
                    <span class="material-symbols-outlined">login</span>
                </button>
            </form>
        </div>
    </div>
</body>
</html>